@use "../commonCSS/common.scss" as *;
@use "./login.scss" as *;
@use "./sign-up.scss" as *;

.auth-bottom-text {
  margin: 1rem 0 0;

  a,
  a:hover {
    cursor: pointer;
    color: $primary-color;
  }
}
