@use "../commonCSS/common.scss" as *;

.home-desktop-banner {
  position: relative;
  width: 100%;
  margin: 0 auto;

  .mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .left,
  .right {
    flex: 1;
    padding: 4.5rem 0;

    @include big-desktop() {
      padding: 7rem 0;
    }
  }

  .left {
    text-align: left;
    background-color: $primary-color;
    padding-left: 1rem;

    > div {
      align-items: flex-start;
      justify-content: center;
    }

    @include desktop() {
      padding-left: 4rem;
    }
  }

  .right {
    text-align: right;
    background-color: $secondary-color;
    padding-right: 1rem;

    > div {
      align-items: flex-end;
      justify-content: center;
    }

    @include desktop() {
      padding-right: 4rem;
    }
  }

  .left > div,
  .right > div {
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.3rem;
    width: 67%;
    color: $tertiary-color;

    @include desktop() {
      width: 58%;
    }

    @include big-desktop() {
      width: 40%;
    }
  }

  p {
    color: $tertiary-color;
    width: 60%;

    @include desktop() {
      width: 100%;
    }
  }

  button {
    outline: none;
    text-transform: uppercase;
    margin: 1.5rem 0;
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid $tertiary-color;
    color: $tertiary-color;
    background-color: transparent;
    cursor: pointer;

    &:active {
      transform: translateY(2px);
    }
  }

  @include phone() {
    display: none;
  }

  @include tablet() {
    display: none;
  }

  @include tablet-landscape() {
    display: flex;
  }

  @include desktop() {
    width: 95%;
  }
}
