@use "../commonCSS/common.scss" as *;

.topbar-icons .container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-around;
  margin: 1rem;

  @include tablet-landscape() {
    display: none;
  }
}

.topbar-icons .container .icon {
  background-color: #f3f3f3;
  padding: 0.8rem 0.5rem 0.5rem;
  height: 80px;
  width: 30%;
  text-align: center;

  p {
    margin: 0;
    margin-top: 4px;
    font-size: 0.7rem;
    line-height: 0.9rem;

    @media (max-width: 324px) {
      font-size: 0.6rem;
    }
  }
}

.topbar-icons .container .nav-link {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.topbar-icons .container .image-container {
  width: 25px;
}
