@use "../commonCSS/common.scss" as *;

.blog-card {
  width: 90%;
  margin: 1rem 0;

  @include tablet() {
    width: 45%;
    margin: 1rem 0.5rem;
  }

  @include desktop() {
    margin: 1rem;
  }

  .content {
    padding: 0.5rem 1rem 1rem;
  }

  .date {
    color: $secondary-color;
  }

  .text {
    padding: 0;
    margin-top: 0.5rem;

    h3 {
      font-size: 1.2rem;
    }

    p {
      color: $text-color;
    }
  }
}
