@use "../commonCSS/common.scss" as *;

.navbar {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1000;

  @include phone() {
    position: static;
  }
}

.navbar-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 25%;
    position: relative !important;
  }

  @include phone() {
    display: none;
  }

  @include tablet() {
    display: none;
  }

  @include tablet-landscape() {
    display: flex;
    padding: 0.6rem 0rem;
  }

  @include desktop() {
    display: flex;
    padding: 0.6rem 2rem;
  }
}

.navbar-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  .menu-btn {
    .icon {
      font-size: 2.2rem;
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      color: $text-color;
    }
  }

  @include tablet-landscape() {
    display: none;
  }

  @include desktop() {
    display: none;
  }

  @include big-desktop() {
    display: none;
  }
}

.ant-drawer-header-title {
  flex-direction: row-reverse;

  .ant-drawer-close {
    font-size: 1.6rem;
  }
}

.ant-drawer-body {
  padding: 1.5rem 1.5rem 0 4rem !important;

  @include tablet-landscape() {
    padding: 1.5rem 2rem !important;
  }
}

.links {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  a {
    color: $secondary-color;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    font-weight: 400;
    display: flex;
    align-items: center;

    .icon {
      margin-right: 1rem;
    }

    &:hover {
      -webkit-text-stroke: 0.4px;
      color: $primary-color;
    }

    &.login-link {
      margin: 0;
      margin-right: 12px;
    }

    &.login-link:hover {
      -webkit-text-stroke: 0px;
    }
  }

  @include tablet-landscape() {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    a {
      font-size: 1rem;
      margin: 0 12px;

      &.login-link {
        margin: 0;
        margin-right: 12px;
      }

      &.login-link:hover {
        -webkit-text-stroke: 0px;
      }
    }
  }
}

a {
  &.login-link.admin {
    color: $secondary-color !important;

    button {
      width: 100%;
    }
  }
}

.searchBar {
  width: 20%;
  position: relative;
  margin-left: 2rem;

  input {
    width: 100%;
    background-color: $tertiary-color;
    outline: none;
    border: none;
    padding: 0.5rem 2.5rem;
    border-radius: 11px;
    font-size: 1.1rem;

    &:focus {
      outline: none;
    }
  }

  .icon {
    position: absolute;
    top: 49%;
    left: 1.5rem;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
  }

  @include desktop() {
    width: 35%;
  }
}

.links,
.btns {
  display: flex;
  justify-content: space-around;

  button {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    width: 45%;
    cursor: pointer;
  }

  .login-btn {
    background-color: $tertiary-color;
  }

  .sellcar-btn {
    background-color: $primary-color;
    color: #fff;
    width: fit-content;
    margin: 0 !important;
  }

  @include tablet-landscape() {
    align-items: center;

    button {
      margin: 0 0.5rem;
      padding: 0.5rem 2rem;
      width: 8rem;
    }

    .login-btn {
      width: fit-content;
      padding: 0;
      background-color: transparent;
    }

    .sellcar-btn {
      padding: 0.5rem 1.5rem;
    }
  }
}

.btns {
  justify-content: center;
  gap: 1rem;
}
