@use "../../commonCSS/common.scss" as *;

.seller-detail-cta-form {
  display: flex;
  flex-direction: column;
}

.seller-detail-cta-form .input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  .ant-form-item-control,
  .ant-input-number,
  input {
    width: 100%;
  }
}

.seller-detail-cta-form {
  .ant-form-item-row {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    width: 100%;
  }

  button {
    text-align: center;
    outline: none;
    border: 1px solid $primary-color;
    cursor: pointer;
    font-size: 1.1rem;
    line-height: 1.4rem;
    padding: 0.5rem 0;
    background-color: $primary-color;
    color: $tertiary-color;
    border-color: $primary-color;
    font-weight: 600;
    margin: 1rem auto 0;
    width: 100%;
  }
}

.ant-modal-wrap {
  width: 100% !important;
  overflow: hidden !important;
}

.seller-detail-modal-phone {
  padding-bottom: 0 !important;

  .ant-modal-content {
    width: 100%;
    height: 100%;
  }
}

.seller-modal-section {
  padding: 0 1rem !important;
  width: 95%;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.ant-modal-wrap {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.hide {
  display: none !important;
}
