@use "./commonCSS/common.scss";
@use "./footerCSS/footer.scss";
@use "./homeCSS/home.scss";
@use "./navbarCSS/navbar.scss";
@use "./cardsCSS/cards.scss";
@use "./shopCSS/shop.scss";
@use "./sellYourCarCSS/sell-your-car.scss";
@use "./authCSS/auth.scss";
@use "./serviceCSS/service.scss";
@use "./blogCSS/blog-page.scss";
@use "./tncCSS/tnc.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.ant-tabs {
  &-nav {
    display: flex;

    .ant-tabs-nav-list {
      width: 99%; // we don't do 100% because of antd tab flickering issue

      .ant-tabs-tab {
        width: 100%;
        justify-content: center;
        margin: 0;
      }
    }
  }
}
