@use "../commonCSS/common.scss" as *;

.blog-detail-page {
  margin: 2rem 0;

  .header {
    margin: 0 0 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    text-align: center;
  }

  .image-container {
    height: 15rem;
    width: 100%;
    margin: 0 auto;

    > span {
      height: 100% !important;
    }

    img {
      object-fit: cover !important;
    }

    @include tablet() {
      height: 20rem;
      width: 90%;
    }

    @include tablet-landscape() {
      width: 70%;
    }

    @include desktop() {
      width: 50%;
    }

    @include big-desktop {
      width: 40%;
    }
  }

  .content {
    width: 90%;
    margin: 1rem auto;
    text-align: center;

    @include tablet-landscape() {
      width: 70%;
    }

    @include desktop() {
      width: 50%;
    }

    @include big-desktop {
      width: 40%;
    }

    .title {
      font-size: 1.5rem;
      line-height: 1.8rem;

      @include phone() {
        margin: 10px;
      }
    }

    .date {
      color: $text-color;
    }

    .source {
      margin: 1.2rem 0 1rem;
      text-align: left;

      a {
        color: $text-color;
      }
    }

    .text {
      text-align: left;
      line-height: 1.5rem;
    }
  }

  .navigation-btn-container {
    width: 90%;
    margin: 2rem auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet-landscape() {
      width: 70%;
    }

    @include desktop() {
      width: 50%;
    }

    @include big-desktop {
      width: 40%;
    }

    button {
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 1rem;
      line-height: 1.5rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .arrow-container {
      display: flex;
      align-items: center;

      .icon {
        font-size: 12px;
        color: $secondary-color;
      }
    }

    .arrow-container .arrow {
      border-bottom: 1px solid $secondary-color;
      width: 68px;
      height: 1px;
    }

    .prev .arrow-container .arrow {
      transform: translate(-6px, 0px);
    }

    .next .arrow-container .arrow {
      transform: translate(6px, 0px);
    }
  }
}
